@font-face {
  font-family: 'CircularStd Book';
    font-style: normal;
    font-weight: normal;
    src: local('CircularStd Book'), url("/public/fonts/CircularStd-Book.otf") ;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "CircularStd Book";  
}
.background{
  background-color: rgba(25, 25, 27, 1);
  height: 930px;
}
.header{
  max-width: 1170px;
  margin: auto;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 10px 0px;
}
.header-part1{
}
.header-part2{
  display: flex;
  width: 288px;
  height: 22px;
  gap: 38px;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
}
.header-part3{
  display: flex;
  /* margin-right: 50px; */
  /* background-color: rebeccapurple; */
}
#navicon{
  display: none;
}
#login{
  margin-right: 25px;
  border: none;
  background: none;
  color: white;
  font-weight: 400;
}
#account{
  background-color: rgba(255, 104, 16, 1);
  border: none;
  border-radius: 6px;
  padding: 7px 13px;
  /* width: 134px; */
  font-size: 14px;
  color: white;
  font-weight: 600;
  line-height: 22.4px;
  /* height: 40px; */
}
/* -------------------Hero Section------------------- */
.heroContainer{
  /* background-color: red;  */
  margin: auto; 
  max-width: 1170px;
}
.hero{
  /* max-width: 1170px; */
  /* margin: auto; */
  height: 800px;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero-part1{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 185px;
}
.hero-part1 h1{
  font-weight: 700;
  font-size: 54px;
  line-height: 64.8px;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
  /* top: 262px; */
  color: white;
}
.hero-part1 p{
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.4%;
  max-width: 472px;
  color: white;
  /* margin-bottom: 40px; */
}
.hero-part1-buttons{
  display: flex;
  margin-top: 40px;
}
.hero-part1-buttons button{
  background-color: rgba(255, 104, 16, 1);
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  padding: 15px 52px;
  margin-right: 38px;
}
.video{
  display: flex;
  /* width: 175px; */
  gap: 7px;
  /* background-color: red; */
  align-items: center;
}
.video img{
  width: 42px;
  height: 42px;
}
.video p{
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0.4%;
  color: white;
}
.hero-part2{
  /* background-color: red; */
  padding-top: 77px;
  position: relative;
  /* margin-right: 50px; */
}
.hero-part2 img{
  position: absolute;
  width: 688.83px;
  /* height: 636px; */
  left: -70px;
}
.heroFooter{
  width: 1170px;
  height: 123px;
  border-radius: 12px;
  /* margin: auto;   */
  margin-top: -20px;
  background-color: white;
  position: absolute; 
  display: flex; 
  align-items: center;
  justify-content: center;  
}
.secondContainer{
  height: 800px;
  /* background-color: yellow; */
  /* position: absolute; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.second{
  height: 800px;
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.second-part1{
  background-color: rgba(255, 238, 217, 0.24);
  height: 800px;
  border-radius:0px, 0px, 26px, 0px;
}
.second-part2{
  /* background-color: blue; */
  height: 800px;
}
.faltu{
  
  max-width: 1140px;
  margin: auto;
  height: 500px;
  margin-top: -650px;  
}
.secondDiv{  
  width: 1140px;
  text-align: center;
}
.secondDiv h1{
  font-weight: 400;
  font-size: 42px;
  line-height: 52.08px;
  color:rgba(46, 46, 70, 1);
}
.secondDiv p{
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0.4%;
  padding-top: 8px;
  color: rgba(45, 49, 64, 0.6);
}
.boxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 70px;
  /* background-color: red; */
  justify-items: center;
}
.boxes-parts{
  width: 330px;
  height: 156px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 40px;
  padding: 19px 0px 0px 16px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.boxes-parts h1{
  font-size: 18px;
  font-weight: 600;
  line-height: 28.8px;
  letter-spacing: 0.4%;
}
.boxes-parts hr{
  width: 95%;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.06);
  margin: 16px 0px 18px 0px;
}
.boxes-parts-links{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 13px;  
}
.boxes-parts-links h5{
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0.4%;  
}
.boxes-parts-links p{
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  letter-spacing: 0.4%;
  color: rgba(130, 130, 130, 1);
}
.pad{
  padding-left: 3px;
}

@media(max-width:1245px)
{
  .header{
    max-width: 1000px;
    padding: 40px 10px 10px 10px;
  }
  .heroContainer{
    max-width: 1000px;
    padding: 0px 10px;
    height: 710px;
  }
  .hero-part1{
    padding-top: 150px;
  }
  .hero-part2{
    padding-top: 50px;
  }
  .hero-part2 img{
    width: 100%;
    left: 0;
    
  }
}
@media(max-width:1000px){
  .background{
    height: 1500px;
  }
  .header{
   /* background-color: red; */
   max-width: 900px;
   padding: 40px 20px 10px 20px;
  }
  .hero{
    max-width: 900px;
    display: flex;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 20px;
  }
  .hero-part1{
    padding-top: 123px;
  }
  .hero-part2{
    padding-top: 0;
  }
  @media(max-width:800px)
  {
    .background {
      height: 1456px;
    }
    .header-part1 img{
      height: 40px;
    }
    .header-part2{
      display: none;
    }
    #login,#account{
      display: none;
    }
    #navicon{
      display: inline;
      height: 60px;
      width: 60px;
    }
  }
  @media(max-width:600px)
  {
    .background {
      height: 1226px;
    }
    .header{
      max-width: 550px;
    }
    #part1 img {
      height: 35px;
    }
    #navicon {
      height: 50px;
      width: 50px;
    }
    .hero{
      max-width: 550px;
    }
    .hero-part1 {
      padding-top: 88px;
    }
    .hero-part1 h1{
      font-size: 43px;
      line-height: 55.8px;
    }
    .hero-part1 p{
      font-size: 15px;
      line-height: 24.6px;
      max-width: 395px;
    }
    .hero-part2 img{
      /* height: 0; */
    }
  }
  @media(max-width:429px)
  {
    .background {
      height: 1042px;
    }
    .header{
      max-width: 400px;
    }
    .header-part1 img {
      height: 29px;
    }
    #navicon {
      height: 40px;
      width: 40px;
    }
    .hero{
      max-width: 400px;
    }
    .hero-part1 h1 {
      font-size: 30px;
      line-height: 39.8px;
    }
    .hero-part1 p {
      font-size: 14px;
      line-height: 21.6px;
      max-width: 278px;
    }
    .hero-part1-buttons{
      display: flex;
      flex-direction: column;
      
    }
    .hero-part1-buttons button {
      padding: 10px 33px;
      font-size: 14px;
      margin-bottom: 20px;
    }
    
  }
}

