@font-face {
  font-family: 'CircularStd Book';
    font-style: normal;
    font-weight: normal;
    src: local('CircularStd Book'), url("/public/fonts/CircularStd-Book.otf") ;
}
@font-face {
  font-family: 'CircularStd Medium';
    font-style: normal;
    font-weight: normal;
    src: local('CircularStd Medium'), url("/public/fonts/CircularStd-Medium.otf") ;
}
@font-face {
  font-family: 'CircularStd Bold';
    font-style: normal;
    font-weight: normal;
    src: local('CircularStd Bold'), url("/public/fonts/CircularStd-Bold.otf") ;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "CircularStd Book";   
}
.mainPage{
  /* overflow: hidden; */
}
.background{
  background-color: rgba(25, 25, 27, 1);
  height: 930px;
}
.header{
  max-width: 1170px;
  margin: auto;
  /* background-color: black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px 10px 0px;
}
.header-part1{
}
.header-part2{
  display: flex;
  width: 288px;
  height: 22px;
  gap: 38px;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
}
.header-part3{
  display: flex;
  /* margin-right: 50px; */
  /* background-color: rebeccapurple; */
}
#navicon{
  display: none;
}
#login{
  margin-right: 25px;
  border: none;
  background: none;
  color: white;
  font-weight: 400;
}
#account{
  background-color: rgba(255, 104, 16, 1);
  border: none;
  border-radius: 6px;
  padding: 7px 13px;
  /* width: 134px; */
  font-size: 14px;
  color: white;
  font-weight: 600;
  line-height: 22.4px;
  /* height: 40px; */
}
/* -------------------Hero Section------------------- */
.heroContainer{
  /* background-color: red;  */
  margin: auto; 
  max-width: 1170px;
  position: relative;
}
.hero{
  /* max-width: 1170px; */
  /* margin: auto; */
  /* height: 800px; */
  /* background-color: yellow; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero-part1{
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-top: 185px;
}
.hero-part1 h1{
  font-weight: 700;
  font-size: 54px;
  line-height: 64.8px;
  letter-spacing: -0.5px;
  margin-bottom: 40px;
  /* top: 262px; */
  color: white;
}
.hero-part1 p{
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.4%;
  max-width: 472px;
  color: white;
  /* margin-bottom: 40px; */
}
.hero-part1-buttons{
  display: flex;
  margin-top: 40px;
}
.hero-part1-buttons button{
  background-color: rgba(255, 104, 16, 1);
  color: white;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  padding: 15px 52px;
  margin-right: 38px;
}
.video{
  display: flex;
  /* width: 175px; */
  gap: 7px;
  /* background-color: red; */
  align-items: center;
}
.video img{
  width: 42px;
  height: 42px;
}
.video p{
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0.4%;
  color: white;
}
.hero-part2{
  /* background-color: red; */
  /* padding-top: 77px; */
  position: relative;  
  /* margin-right: 50px; */
}
.hero-part2 img{
  position: absolute;
  width: 688.83px;
  /* height: 636px; */
  top: 76px;
  left: -70px;
}
.heroFooter{
  /* width: 1170px; */
  height: 123px;
  border-radius: 12px;
  margin: auto;  
  margin-top: 245px;
  background-color: white;
  /* position: absolute;  */
  display: flex; 
  align-items: center;
  justify-items: center; 
  /* top: 770px;  */
  z-index: 9;
}
.heroFooter img{
  width: 100%;
}
.secondContainer{
  /* height: 800px; */
}
.second{
  /* height: 800px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
}
.second-part1{
  background-color: rgba(255, 238, 217, 0.24);
  /* height: 800px; */
  border-radius:0px, 0px, 26px, 0px;
}
.second-part2{
  height: 800px;
}
.secondDiv-container{  
  max-width: 1140px;
  margin: auto;
  /* height: 500px; */
  margin-top: -650px;  
  /* background-color: pink; */
}
.secondDiv{  
  text-align: center;
}
.secondDiv h1{
  font-family: "CircularStd Medium";
  font-weight: 400;
  font-size: 42px;
  line-height: 52.08px;
  color:rgba(46, 46, 70, 1);
}
.secondDiv p{
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0.4%;
  padding-top: 8px;
  color: rgba(45, 49, 64, 0.6);
}
.boxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 70px;
  justify-items: center;
}
.boxes-parts{
  width: 330px;
  /* height: 156px; */
  border-radius: 10px;
  background-color: white;
  margin-bottom: 40px;
  padding: 19px 0px 0px 16px;
  border: 1px solid rgba(0, 0, 0, 0.06);
}
.boxes-parts h1{
  font-family: "CircularStd Medium";
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.4%;
}
.boxes-parts hr{
  width: 95%;
  left: 15px;
  background-color: rgba(0, 0, 0, 0.06);
  margin: 16px 0px 18px 0px;
}
.boxes-parts-links{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 13px;  
}
.boxes-parts-links h5{
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  letter-spacing: 0.4%;  
}
.boxes-parts-links p{
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  letter-spacing: 0.4%;
  color: rgba(130, 130, 130, 1);
}
.pad{
  padding-left: 3px;
}
/* .secondDiv2{
  max-width: 1070px;
  background-color: red;
  display: grid;
  grid-template-columns: repeat(2,1fr);
} */
/* .secondDiv2 h1{
  font-weight: 700;
  font-size: 24px;
  line-height: 26.88px;
} */

.thirdpage-part1-container{
  max-width: 1140px;
  margin: auto;
  margin-top: 40px;
}
.thirdpage-part1{
  background-color: rgba(255, 104, 16, 1);
  box-shadow: 
    inset 0px 4px 8px 0px rgba(8, 46, 78, 0.25),
    inset 0px -6px 8px 0px rgba(12, 65, 109, 0.08);
  max-width: 1090px;
  margin: auto;
  border-radius: 10px;
  height: 109px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 19px 0px 19px;
}
.thirdpage-part1-img{
  padding-top: 15px;
}
.thirdpage-part1-paras {
  display: flex;
  flex-direction: column;  
  color: white;
}
.thirdpage-part1-paras h6{
  font-size: 20px;
  font-weight: 700;  
  line-height: 26.88px;
  margin-bottom: 8px;
}
.thirdpage-part1-paras p{
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.4%;
}
.thirdpage{
  /* background-color: red; */
  /* height: 500px; */
  max-width: 1140px;
  margin: auto;
  margin-top: 174px;
}

.thirdpage-part2{
  max-width: 1090px;
  margin: auto;
  /* background-color: green; */
  height: 603px;  
  /* display: grid; */
  /* grid-template-columns: repeat(2,1fr); */
  display: flex;
  /* position: relative; */
}
.thirdpage-part2-part1{
  background-color: black;
  position: relative;
  max-width: 390px;
  height: 423px;
  margin-right: 44px;
  /* z-index: -1; */
}
.thirdpage-part2-part1 h1{
  background: rgba(255, 104, 16, 1);
  color: white;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  width: 90px;
  position: absolute;
  left: 275px;
  margin-top: -50px;
  padding-top: 20px;
}
#thirdPageImg1{
  margin-top: -50px;
  width: 100%;
}
#dots{
  position: absolute;
  left: 270px;
  top: 360px;
  /* margin-top: -74px; */
  /* left:275px; */
  z-index: -9;
  
}
.thirdpage-part2-part2{
  /* background-color: yellow;   */
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  
  position: relative;
}
.thirdpage-part2-part2-para1{
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 41.73px;   */
  position: absolute;
  top: 110px;
  width: 100%;
}
#arro2{
  height: 15px;
  width: 15px;
  padding: 25px;
  background: rgba(255, 116, 104, 0.12);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#arro3{
  height: 15px;
  width: 15px;
  padding: 25px;
  background-color: rgba(255, 104, 16, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thirdpage-part2-part2-para1-img #arro2{
  margin-right: 23.15px;
}
.thirdpage-part2-part2-para1-img{
  display: flex;
  
}
.thirdpage-part2-part2-para1 h1{
  font-weight: 500;
  font-size: 42px;
  line-height: 52.08px;
  color: rgba(46, 46, 70, 1);
  font-family: "CircularStd Medium";
}
.boldLine{
  background-color: rgba(255, 104, 16, 1);
  width: 12px;  
  /* height: 272px; */
}
.thirdpage-part2-part2-para2{
  display: flex;
  /* border: 1px solid rgba(118, 129, 146, 0.1); */
  box-shadow: 4px 20px 100px 0px rgba(8, 21, 38, 0.06);
  width: 733px;
  position: absolute;
  top: 193px;
  left: -75px; 
  z-index: 100;
  background-color: white;
}
.thirdpage-part2-part2-para2-para{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0px 38px 0px 38px; */
  padding: 38px;
}
.thirdpage-part2-part2-para2-para-part1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;  
}
.darrell h1{
  font-weight: 400;
  font-size: 28px;
  line-height: 35.56px;
  color:rgba(46, 46, 70, 1);
  margin-bottom: 8.36px;
  font-family: "CircularStd Medium";
}
.darrell p{
  font-weight: 400;
  font-size: 24px;
  line-height: 31.68px;
  color: rgba(46, 46, 70, 1);
}
.thirdpage-part2-part2-para2-para-part2{
  max-width: 601px;
  /* padding-right: 0px; */
}
.thirdpage-part2-part2-para2-para-part2 p{
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: rgba(34, 40, 49, 0.9);
}
.footerContainer{
  max-width: 1140px;
  margin: auto;
  margin-top: 120px;
  
  /* background-color: red; */
}
.footer{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  /* align-items: center; */
  justify-items: center;
  margin-bottom: 84.5px;
}
.footerLogo img{
  margin-bottom: 20px;
}
.footerLogo p{
  font-weight: 400;
  font-size: 14px;
  line-height: 22.4px;
  color: rgba(46, 46, 70, 0.8);
}
.footerCols{
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  /* background-color: red; */
}
.footerCols h1{
  font-weight: 400;
  font-size: 24px;
  line-height: 31.68px;
  margin-bottom: 23px;
  font-family: "CircularStd Medium";
}
.footerCols a{
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: rgba(34, 40, 49, 1);
}
.fourthCol-buttons{
  display: flex;
  margin-bottom: 34px;
}
.fourthCol h1{
  margin-bottom: 15px;
}
.fourthCol-buttons button{
  width: 117.38px;
  border-radius: 61.79px;  
  display: flex;
  align-items: center;
  height: 39.73px;
  background-color: black;
  justify-content: center;
}
.buttonPara p{
  font-size: 7px;
  color: white;
}
#footerPlayButton{
  margin-right: 9.8px;
}
#playPara{
  padding-right: 20px;
}
#small{
  font-size: 6px;
}
#big{
  font-size: 10px;
}
#appleDot{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourthCol-buttons img{
  margin-right: 8px;
}

.socialLogos{
  /* background-color: red; */
  display: flex;
  /* align-items: center;   */
  justify-content: space-between;
  margin-right: 50px;
}
#facebook{
  border: 1px solid rgba(255, 104, 16, 1);
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 100%;
}
#instagram{
  
  background-color:rgba(255, 104, 16, 1) ;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 100%;
}
#twitter{
  border: 1px solid rgba(255, 104, 16, 1);
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 100%;
}
#bottomPara{
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.4%;
  color: rgba(46, 46, 70, 0.8);
  margin-top: 20.5px;
  margin-bottom: 5px;
}
.footerlogoextra{
  display: none;
  background-color: red;
}
.discoverextra{
  display: none;
}
@media(max-width:1245px)
{
  .background{
    height: 836px;
  }
  .header{
    max-width: 1000px;
    padding: 40px 10px 10px 10px;
  }
  .heroContainer{
    max-width: 1000px;
    padding: 0px 10px;
    /* height: 710px; */
  }  
  .hero-part1{
    padding-top: 150px;
  }
  .hero-part2{
    padding-top: 50px;
  }
  .hero-part2 img{
    width: 100%;
    left: 0; 
    top: 125px;   
  }
  .heroFooter{
    margin-top: 187px;
  }
  .secondDiv-container{
    max-width: 1000px;
    padding: 0px 10px;
    /* background-color: red; */
  }
  .boxes-parts{
    max-width: 297px;
  }
  .thirdpage-part1-container{
    max-width:1000px ;
    padding: 0px 10px;
  }
  .thirdpage{
    max-width:1000px ;
    /* background-color: rebeccapurple; */
    padding: 0px 10px;
    margin-top: 152px;
  }
  .thirdpage-part1{
    max-width: 850px;
  }
  .thirdpage-part2{
    max-width: 850px;    
  }
  .thirdpage-part2-part1 {
    height: 340px;
  }
  .thirdpage-part2-part1 h1{
    left: 209px;
  }
  #dots{
    left: 239px;
    top: 312px;
  }
  .thirdpage-part2-part2{
    width: 244vh;
  }
  .thirdpage-part2-part2-para2{
    width: 561px;
  }
  .thirdpage-part2-part2-para2-para {
    padding: 12px 38px 12px 38px;
  }  
  .footerContainer{
    max-width: 1000px;
    padding: 0 10px;
    margin-top: 35px;
  }
}
@media(max-width:1000px){
  .background{
    height: 1630px;
  }
  .header{
   /* background-color: red; */
   max-width: 900px;
   padding: 40px 20px 10px 20px;
  }
  .heroContainer{
    max-width: 900px;
    /* display: flex; */       
    padding: 0px 20px;
  }
  .hero{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-part1{
    padding-top: 123px;
  }
  .hero-part2{
    padding-top: 0;
  }
  .heroFooter {
    margin-top: 1009px;
  }
  .secondDiv-container{
    max-width: 900px;
    padding: 0px 20px;
  }
  .boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .second-part1 {
    /* height: 990px; */
  }
  .thirdpage-part1-container{
    max-width: 900px;
    margin-top: 32px;
    padding: 0px 10px;
  }
  .thirdpage{
    max-width: 900px;
    padding: 0px 10px;
    margin-top: 131px;
  }
  .thirdpage-part1{
    max-width:780px ;
  }  
  .thirdpage-part2{
    max-width: 780px;    
  }
  .thirdpage-part2-part1 {
    height: 309px;
  }
  .thirdpage-part2-part1 h1 {
    height: 75px;
    width: 75px;
    left: 197px;
    font-size: 59px;
  }
  .thirdpage-part2-part2-para1 h1{
    font-size: 37px;
  }
  #dots {
    left: 216px;
    top: 279px;
  }
  .thirdpage-part2-part2-para1-img #arrow2 {
    margin-right: 13.15px;
  }
  .thirdpage-part2-part2-para2 {
    width: 515px;
  }
  .darrell h1{
    margin-bottom: 0;
    font-size: 26px;
  }
  .darrell p{
    font-size: 24px;
  }
  .thirdpage-part2-part2-para2-para{
    padding: 7px 38px 7px 38px;
  }
  .thirdpage-part2-part2-para2-para-part1{
    margin-bottom: 7px;
  }
  .thirdpage-part2-part2-para2-para-part2 p{
    font-size: 13px;
  }
  .footerContainer{
    max-width: 900px;
  }
}
  @media(max-width:800px)
  {
    .background {
      height: 1550px;
    }
    .header-part1 img{
      height: 40px;
    }
    .header-part2{
      display: none;
    }
    #login,#account{
      display: none;
    }
    #navicon{
      display: inline;
      height: 60px;
      width: 60px;
    }
    .heroFooter {
      margin-top: 909px;
    }
    .boxes-parts{
      max-width: 260px;
    }
    .boxes-parts h1 {
      font-size: 15px;
    }
    .boxes-parts-links h5{
      font-size: 14px;
    }
    .thirdpage-part1{
      max-width: 700px;
    }
    .thirdpage-part1-paras p{
      font-size: 14px;
    }
    .thirdpage {
      margin-top: 171px;
      /* background-color: red; */
      margin-bottom: 400px;
    }
    .thirdpage-part2{
      display: flex;
      flex-direction: column;
      /* width: 100%; */
      /* background-color: red; */
      justify-content: space-between;
      max-width: 700px;
    }
    .thirdpage-part2-part1{
      height: 574px;
      max-width: none;
      margin-right: 0;
    }
    .thirdpage-part2-part1 h1 {
      height: 90px;
      width: 90px;
      left: 475px;
      margin-top: -60px;
    }
    #dots {
      left: -6px;
      top: 447px;
    }
    .darrell h1{
      font-size: 32px;
    }
    .darrell p {
      font-size: 29px;
    }
    #thirdPageImg1 {
      margin-top: -76px;
      max-width: 650px;
      max-height: 650px;
    }
    .thirdpage-part2-part2{
      width: 100%;
      margin-top: 92px;
    }
    .thirdpage-part2-part2-para1{
      position: static;
      /* max-width: 500px; */
    }
    .thirdpage-part2-part2-para1 h1{
      font-size: 42px;
    }
    .thirdpage-part2-part2-para2{
      position: static;
      width: 100%;
      margin-top: 30px;
    }
    .thirdpage-part2-part2-para2-para{
      padding: 15px 38px 15px 38px;
    }
    
    .footerLogo{
      display: none;
    }
    .footerlogoextra{
      display: inline;
      display: flex;
      flex-direction: column;
      background-color: white;
      margin-bottom: 30px;
      /* margin-top: 60px; */
    }
    .footer{
      display: grid;
      grid-template-columns: repeat(4,1fr);
    }
    .footerCols h1 {
      font-size: 19px;
    }
    .footerCols a{
      font-size: 16px;
    }
  }
  @media(max-width:600px)
  {
    .background {
      height: 1267px;
    }
    .header{
      max-width: 550px;
    }
    .heroContainer{
      max-width:550px ;
    }
    #part1 img {
      height: 35px;
    }
    #navicon {
      height: 50px;
      width: 50px;
    }
    .hero{
      max-width: 550px;
    }
    .hero-part1 {
      padding-top: 88px;
    }
    .hero-part1 h1{
      font-size: 43px;
      line-height: 55.8px;
    }
    .hero-part1 p{
      font-size: 15px;
      line-height: 24.6px;
      max-width: 395px;
    }
    .hero-part2 img{
      /* height: 0; */
    }
    .heroFooter {
      margin-top: 687px;
      height: 87px;
    }
    .secondDiv-container{
      max-width: 550px;
    }
    .secondDiv p{
      font-size: 15px;
    }
    .secondDiv h1{
      font-size: 37px;
    }
    .boxes-parts {
      max-width: 185px;
    }
    .boxes-parts h1 {
      font-size: 10px;
    }
    .boxes-parts-links h5 {
      font-size: 12px;
    }
    .boxes-parts-links p{
      font-size: 11px;
    }
    .thirdpage-part1-container{
      max-width: 550px;
      padding: 0 10px;
    }
    .thirdpage-part1-paras h6{
      font-size: 17px;
    }
    .thirdpage-part1-paras p {
      font-size: 12px;
      line-height: 17.6px;
    }
    .thirdpage{
      max-width: 550px; 
      margin-top: 140px;     
    }
    #dots{
      display: none;
    }
    .thirdpage-part2-part1 h1{
      display: none;
    }
    .thirdpage-part2-part1{
      height: 567px;
    }
    .thirdpage-part2-part2-para1 h1 {
      font-size: 33px;
    }
    .darrell h1 {
      font-size: 26px;
    }
    .darrell p {
      font-size: 25px;
    }
    .thirdpage-part2-part2-para2-para {
      padding: 15px 12px 15px 14px;
    }
    .fourthCol{
      display: none;
    }
    .footer{
      display: grid;
      grid-template-columns: repeat(3 , 1fr);
      margin-bottom: 44px;
    }
    .discoverextra{
      display: inline;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .socialLogos{
      margin-right: 0px;
    }
    #facebook, #instagram{
      margin-right: 10px;
    }
  }
  @media(max-width:429px)
  {
    .background {
      height: 1078px;
    }
    .header{
      max-width: 400px;
    }
    .header-part1 img {
      height: 29px;
    }
    #navicon {
      height: 40px;
      width: 40px;
    }
    .hero{
      max-width: 400px;
    }
    .hero-part1 h1 {
      font-size: 37px;
      line-height: 49.8px;
    }
    .hero-part1 p {
      font-size: 14px;
      line-height: 21.6px;
      max-width: 306px;
    }
    .hero-part1-buttons{
      display: flex;
      flex-direction: column; 
      max-width: 300px;     
    }
    .hero-part1-buttons button {
      padding: 10px 33px;
      font-size: 14px;
      margin-bottom: 20px;
    }
    .heroFooter {
      margin-top: 492px;
      height: 60px;
    }
    .second-part1 {
      /* height: 1411px; */
    }
    .second-part2{
      height: 738px;
    }
    .secondDiv-container{
      max-width: 400px;
    }
    .secondDiv h1 {
      font-size: 34px;
    }
    .secondDiv p {
      font-size: 14px;
    }
    .boxes {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .thirdpage-part1-container{
      max-width: 400px;
      padding: 0 10px;
    }
    .thirdpage{
      max-width: 400px;
      margin-bottom: 0;
    }
    .thirdpage-part2-part1 {
      height: 385px;
    }
    .thirdpage-part2-part2-para1 h1 {
      font-size: 35px;
      margin-bottom: 15px;
    }
    .thirdpage-part2-part2-para1-img #arrow2 {
      margin-right: 5.15px;
    }
    .darrell h1 {
      font-size: 18px;
    }
    .darrell p {
      font-size: 16px;
    }
    .thirdpage-part2-part2-para2-para {
      padding: 6px 8px 6px 8px;
    }
    .thirdpage-part2-part2-para2-para-part2 p {
      font-size: 12px;
    }
    .thirdpage-part2-part2-para1{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -60px;
    }
    .thirdpage-part2-part2-para2-para-part1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }    
    .footerContainer{
      margin-top: 250px;
    }
    .footerlogoextra{
      text-align: center;
    }
    .discoverextra{
      margin-bottom: 20px;
    }
    .footerContainer hr{
      margin-top:100px;
    }
  }


